In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"
data = pd.read_csv(url)
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

Jaké jsou průměrné hodnoty pro délku a hmotnost tučňáků podle jejich druhu?

In [6]:
data.groupby(["species"])[["bill_length_mm", "body_mass_g"]].mean()

           bill_length_mm  body_mass_g
species
Adelie          38.791391  3700.662252
Chinstrap       48.833824  3733.088235
Gentoo          47.504878  5076.016260

Který druh tučňáka má největší maximální hmotnost a jaká je tato hmotnost?

In [16]:
max_body_mass = data.groupby(["species"])["body_mass_g"].max()
max_body_mass.sort_values(ascending=False).head(1)

species
Gentoo    6300.0
Name: body_mass_g, dtype: float64

Jaký je počet tučňáků podle jejich pohlaví v každém druhu?

In [10]:
data.groupby(["species", "sex"])["sex"].size()

species    sex
Adelie     female    73
           male      73
Chinstrap  female    34
           male      34
Gentoo     female    58
           male      61
Name: sex, dtype: int64

Jaké jsou minimální a maximální hodnoty délky křídel tučňáků a jak se liší mezi druhy? 

Který druh má nejmenší rozdíl mezi minimální a maximální délkou křídel?

In [26]:
agg = data.groupby("species").agg({"flipper_length_mm": ["min", "max"]})

agg["diff"] = agg[("flipper_length_mm", "max")] - agg[("flipper_length_mm", "min")]
agg.sort_values(by="diff")

          flipper_length_mm         diff
                        min    max
species
Gentoo                203.0  231.0  28.0
Chinstrap             178.0  212.0  34.0
Adelie                172.0  210.0  38.0

In [23]:
agg = data.groupby("species").agg(
    min_flipper_length=("flipper_length_mm", "min"),
    max_flipper_length=("flipper_length_mm", "max"),
)

agg["diff"] = agg["max_flipper_length"] - agg["min_flipper_length"]
agg.sort_values(by="diff")

           min_flipper_length  max_flipper_length  diff
species
Gentoo                  203.0               231.0  28.0
Chinstrap               178.0               212.0  34.0
Adelie                  172.0               210.0  38.0

Jaký je medián hmotnosti tučňáků a liší se tento medián mezi jednotlivými ostrovy, kde tučňáci žijí? 

Na kterém ostrově je medián hmotnosti největší?

In [28]:
data.groupby(["species"])["body_mass_g"].median()

species
Adelie       3700.0
Chinstrap    3700.0
Gentoo       5000.0
Name: body_mass_g, dtype: float64

Existují v datasetu chybějící hodnoty? Pokud ano, ve kterých sloupcích?

In [30]:
data.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

Které druhy tučňáků mají průměrnou délku křídel větší než 200 mm?

In [32]:
agg_df = data.groupby(["species"])["flipper_length_mm"].mean().to_frame()
agg_df[agg_df["flipper_length_mm"] >= 200]

         flipper_length_mm
species
Gentoo          217.186992

In [31]:
agg_series = data.groupby(["species"])["flipper_length_mm"].mean()
agg_series[agg_series >= 200]

species
Gentoo    217.186992
Name: flipper_length_mm, dtype: float64